<!--ejs mate layout-->
<% layout('layouts/boilerplate.ejs') %>

<!--Backgroud Image-->
<div id="cover-image">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand ps-md-5 fw-bold text-uppercase fs-4 text-light" href="#"><img
                    src="/utilities/logo.png" id="brand-logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ms-auto is the new ml-auto to shift all navlinks to right -->
            <div class="collapse navbar-collapse" id="mainNavbar">
                <div class="navbar-nav ms-auto mainNavLinks text-uppercase">
                    <!--Adding logic to set active link-->
                    <a class="nav-link <%= title === 'Home' ? 'active': ''%>" aria-current="page" href="/home">Home</a>
                    <a class="nav-link <%= title === 'About' ? 'active': ''%>" href="/about">About Us</a>
                    <a class="nav-link <%= title === 'Services' ? 'active': ''%>" href="/services">Our Services</a>
                    <a class="nav-link <%= title === 'Register' ? 'active': ''%>" href="#">Login/Register</a>
                </div>
            </div>
        </div>
    </nav>


    <div id="slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/utilities/pexels-laura-musikanski-6019019.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/utilities/pexels-lj-2085831.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/utilities/pexels-markus-winkler-4578660.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--Overlay Table or Navbox-->
    <div class="box" id="box">
        <a id="title1" class="cnt cntactive" onclick="cnt1()">Company</a>
        <a id="title2" class="cnt" onclick="cnt2()">For JavaScript</a>
        <a id="title3" class="cnt" onclick="cnt3()">For Mobile & IoT</a>
        <a id="title4" class="cnt" onclick="cnt4()">For Production</a>
        <hr id="line">
        <p id="one" class="cnt-1">1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus
            repellendus soluta rem laboriosam voluptate corrupti placeat voluptatem libero</p>
        <p id="two" class="cnt-1">2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus
            repellendus soluta rem laboriosam voluptate corrupti placeat voluptatem libero</p>
        <p id="three" class="cnt-1">3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus
            repellendus soluta rem laboriosam voluptate corrupti placeat voluptatem libero</p>
        <p id="four" class="cnt-1">4. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus
            repellendus soluta rem laboriosam voluptate corrupti placeat voluptatem libero</p>

    </div>
</div>

<!-- Why Us (Into page) -->
<div class="row text-center justify-content-center" data-aos="fade-up" data-aos-duration="1500">
    <div class="why pb-3 mt-5 pt-5 col-lg-6">
        <h1 class="sixth pb-3 pt-5">Why Us</h1>
        <p class="whyus pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, commodi laudantium
            doloremque vitae provident, ab tenetur temporibus neque similique excepturi unde nulla autem aperiam,
            illo
            accusantium cum nam libero eligendi?</p>
        <!-- Arrow to About -->
        <a href="/about" id="toAboutUs">About <i class="fas fa-arrow-right"></i></a>
    </div>
</div>

<!--Shorthand of About Us (intro to about Us)-->
<div class="container mt-5 text-center" data-aos="fade-up" data-aos-duration="1500">
    <div class="row justify-content-around short-aboutUs">
        <!-- Query name for all images -->
        <% const url = ['model', 'robust', 'research'] %>
        <% for(let i = 0; i < 3; i++) { %>
        <div class="col-md-3">
            <img src="https://www.tensorflow.org/site-assets/images/marketing/home/<%=url[i]%>.svg"
                class="img-fluid py-2" alt="<%=url[i]%>">
            <h4 class="py-2">Easy model building</h4>
            <p class="py-2">Build and train ML models easily using intuitive high-level APIs like Keras with eager
                execution, which makes for immediate model iteration and easy debugging.</p>
        </div>
        <% } %>
    </div>
</div>

<hr class="hr">

<div class="mlpblms pt-3 pb-3" data-aos="fade-up" data-aos-duration="1500">
    <h1 class="sixth">ML Problems</h1>
    <!--Card Row - 2-->
    <div class="row mt-4" data-aos="fade-up" data-aos-duration="1500">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="card mx-auto p-0 mt-4 rounded-end card-animation" style="width: 18rem;">
            <div class="inner">
                <img src="https://images.unsplash.com/photo-1550432163-9cb326104944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                    class="card-img-top img-fluid" alt="..." />
            </div>
            <div class="card-body">
                <h3 style="text-align: center;">Title</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <% } %>
    </div>
</div>

<!-- Brand Row -->
<hr class="hr">
<section id="clients" class="clients section-bg pb-5 pt-3" data-aos="fade-up" data-aos-duration="1500">
    <h1 class="sixth pb-5">Clients</h1>
    <div class="container mt-5">
        <div class="d-flex justify-content-around" data-aos="fade-up" data-aos-duration="1500">
            <% for(let i = 1; i < 7; i++) { %>
            <img src="/utilities/client-<%=i%>.png" class="img-fluid client-img" alt="">
            <% } %>
        </div>
    </div>
</section>
<hr class="hr">
<!--COntact Us Section-->
<h1 class="sixth contact_heading mt-3">Contact Us</h1>
<div class="container contact-wrapper contact_us mt-5" data-aos="fade-up" data-aos-duration="1500">
    <h2 class="text-center">Have Some Questions ?</h2>
    <p class="text-center">Feel Free to ask</p>
    <div class="container d-flex justify-content-around wrapper">
        <!--Contact Us Section-->
        <div class="cntct-text w-50" data-aos="fade-up" data-aos-duration="1500">
            <div class="message">
                <div class="d-flex">
                    <h4><span class="pe-2 ps-5"><i class="far fa-envelope"></i></span></h4>
                    <p class="pt-0">
                        hello@learnobot.com
                    </p>
                </div>
                <div class="d-flex mt-2">
                    <h4><span class="pe-2 ps-5"><i class="fas fa-phone"></i></span></h4>
                    <p class="pt-0">
                        (+91)9898765432
                    </p>
                </div>
            </div>

            <div class="follow mt-4">
                <h2 class="mb-3 follow_heading">Follow Us</h2>
                <div class="social-links">
                    <h4 style="display: inline; color: #5DA9DD"><a class="ps-0 pe-4" href="#"><i
                                class="fab fa-twitter"></i></a></h4>
                    <h4 style="display: inline;"><a class="ps-0 pe-4" href="#"><i class="fab fa-facebook"></i></a></h4>
                    <h4 style="display: inline; color: #0077B5"><a class="ps-0 pe-4" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="cntc w-50" data-aos="fade-up" data-aos-duration="1500">
            <form class="row g-3 needs-validation text-center" novalidate>
                <div class="col-12 mb-2">
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Your Name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Contact Number"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <input type="email" class="form-control" id="validationCustomUsername"
                        aria-describedby="inputGroupPrepend" placeholder="Your Email" required>
                    <div class="invalid-feedback">
                        Please choose a valid email!
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn submit-btn rounded-pill" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>
</div>